<%- include('partials/header', {title:"TAP: What are Art Portfolios?"}) -%>

<p> Welcome to the official site of the Trinity Art Portfolios! </p>
<p> An art portfolio is a curated of your original artwor that you can easily share with others.</p>
<p> Art portfolios can be physical portfolios or they can exist digitally, depending on the type of art your create and how you plan to share your work.</p>
<p> If you're using a portfolio to submit your pieces for a prospective job, educational or scholarship opportfunities, most place request to see 10-20 pieces in your portfolio. </p>
<p> Most artists like to use their portfolios to highlight their unique style and skilll, choosing the stongest pieces in their collection for inclusion. </p>
<p> Tips on creating an art portfolio: </p>
<p> -Be selective about your pieces. </p>
<p> -Be intentional about the order the pieces will be viewed/experinced including their descriptions. </p>
<p> Information taken from https://www.indeed.com/career-advice/career-development/art-portfolio </p>
  <br>
  <br>
  <% if(user){ %>
  <a href="/play">Click to access Trinity Art Portfolios:</a>
  <% }else{ %>
  <a href="/login">Click to login</a>
  <% }%>

  <%- include('partials/footer') -%>
