<%- include('../partials/header', {title:"TAP: All Artists", user:user}) -%>
<h2>All Artists</h2>
<table>
  <tr>
    <th>
      Name
    </th>
  </tr>
  <tr>
  <%for(let i =0; i<artists.length; i++){%>
  <th>
    <a href="/artists/<%=artists[i].id%>"><%=artists[i].displayName%></a>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('../partials/footer') -%>
