<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

 <h2>  Single File  </h2>
<form action="/photos" enctype="multipart/form-data" method="POST">
   Title: <input type="text" name="photoDisplayName"/><br>
   Description: <input type="text" name="photoDescription"/><br>
   <input type="file" name="myFile" accept="image/*"/>
   <br>
   <input type="submit" value="Upload an image" required/>
</form>

<%- include('partials/footer') -%>
