<%- include('../partials/header', {title:"Artist Details- TAP", user:user}) -%>
<h2>Delete photo confirmation</h2>
<table>
  <tr>
    <th>
      Photo ID:
    </th>
  </tr>
  <tr>
    <th>
      <%=photo.pid%>
    </th>
  </tr>
</table>
<tr>
  <th>
    Delete Form:
  </th>
</tr>
<form action="/photos/<%=photo.pid%>" enctype="multipart/form-data" method="POST">
  <label for="PD">Confirm Photo ID: </label>
  <input type="text" id="pid" name="pid"/><br>
  <br>
  <input type="submit" value="Delete Photo" required/>
</form>

<%- include('../partials/footer') -%>
